/******************************************************************************************
******************************************************************************************
******超级链接样式表
******************************************************************************************
******************************************************************************************/
a {
	font-size: 12px;
	color: #333333;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #990000;
}
a:active {
	text-decoration: none;
}

/******************************************************************************************
******************************************************************************************
******默认属性
******************************************************************************************
******************************************************************************************/
body, form, ul, li, p, dl, dd, dt ,h,td,th{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
li,ul{
	list-style: none;
}
TD {
	color: #333333;
	VERTICAL-ALIGN: top;
}
input,textarea{
	border:1px solid #ccc;
}
/*网页整体*/
body {
	background: url(bg.gif);
	margin: 0px;
}
/*网页最外层表格*/
#BodyTable{
	background:#FFF;
	width:930px;
	border:1px solid #fff;
}
/*--这是顶部登录框--*/
#Toolbar{
	z-index:9999;
	width:100%;
	height:31px;
	position:relative;
	left:0px;
	color:#000;
	background-image:url(../../../images/default/toolbar_bg.gif);
}
#Toolbar a,#ToolbarForm td{
	color:#000;
}
/******************************************************************************************
******************************************************************************************
******网站头部
******************************************************************************************
******************************************************************************************/
/*最顶部表格*/
#header {
	HEIGHT: 90px;
}
/*网站名称也即可更换LOGO*/
#webname a{
	display:block;
	float:left;
	margin:2em 0em 0em 0.5em;
	font-size:18px;
	font-weight:bold;
}
#weburl{
	float:right;
	margin:1em 1em 0em 0;
}
/*网站口号标语*/
#slogan{
	float:right;
	margin:5em 0.5em 0em 0em;
	font-weight:bold;
	color:#757575;
	font-size:14px;
}
/******************************************************************************************
******************************************************************************************
******网站头部导航菜单
******************************************************************************************
******************************************************************************************/
/*网站导航菜单外表格*/
#MenuTable{
	background:#EBEBEB;
	height:25px;
}
/*网站导航菜单*/
#navigation{
	float:left;
	padding:5px;
}
#DoEdit{
	width:150px;
	padding:5px;
	float:right;
}
/******************************************************************************************
******************************************************************************************
******网站头部编辑菜单
******************************************************************************************
******************************************************************************************/
#EditMenuTable{
	height:23px;
	border-bottom:1px solid #ccc;
}
#EditMenuTable div{
	margin-top:4px;
	margin-left:5px;
	float:left;
}
#EditMenuTable div#closeEditNavigation{
	margin-right:0.5em;
	float:right;
}

/******************************************************************************************
******************************************************************************************
*******AJAX在线编辑DIV容器*
******************************************************************************************
******************************************************************************************/
/*AJAX在线编辑DIV容器*/
#AjaxEditTable{
	border:1px solid #BEDDFF;
	background:#FFF;
}
#AjaxEditTable .head{
	height: 21px;
	background: #DBEAFF;
	border-bottom:1px solid #BEDDFF;
	padding:3px 5px 0 7px;
}
#AjaxEditTable .head a{
	color:#FFF;
}
#AjaxEditTable .head span{
	DISPLAY: block; 
	FLOAT: right;
}
#AjaxEditTable .middle{
	background:#FFF;
	line-height:18px;
	padding:5px;
}
#AjaxEditTable .middle input,#AjaxEditTable .middle textarea{
	border:1px solid #BEDDFF;
	background:#FFF;
}
/*风格选择*/
#AjaxEditTable .middle .style ul li{
	display:block;
	float:left;
	width:70px;
	height:70px;
	margin:3px 0 0 3px;
}
#AjaxEditTable .middle .style ul li img{
	width:60px;
	height:60px;
	border:1px solid #396050;
}
/*布局选择*/
#AjaxEditTable .layout ul li{
	display:block;
	float:left;
	width:90px;
	height:60px;
	margin:3px 0 0 3px;
}
#AjaxEditTable .layout ul li img{
	width:80px;
	height:50px;
	border:1px solid #396050;
}
/*模块选择*/
#AjaxEditTable .module ul li{
	display:block;
	float:left;
	width:130px;
	height:20px;
	margin:3px 0 0 3px;
}
/******************************************************************************************
******************************************************************************************
******网站主页内容
******************************************************************************************
******************************************************************************************/
/*内容表格*/
#MainTable {
	BORDER-COLLAPSE: collapse;
}

/*拖拉模块时,浮动的层*/
.DragDiv{
	background:#ccc;
	border:5px solid red;
	cursor:move;
	text-align:center;
	font-size:20px;
	padding-top:2em;
	font-weight:bold;
}
/******************************************************************************************
******************************************************************************************
******可拖拉的表格
******************************************************************************************
******************************************************************************************/
/*移动表格*/
#MainTable .dragTable { 
	MARGIN-BOTTOM: 10px; 
	WIDTH: 100%; 				
	border: 1px solid #BEDDFF;
}
/*********************************************************************
******可移动表格的头部
*********************************************************************/
/*可移动表格的头部*/
#MainTable .head {
	height: 24px;
	overflow: hidden;
	background: #DBEAFF;
	border:1px solid #fff;
	padding:5px 5px 0 7px;
	color:#337BFF;
}
/*可移动表格的头部功能按钮*/
#MainTable .head span{
	DISPLAY: block; 
	FLOAT: left
}
#MainTable .head .Tag{
	FONT-WEIGHT: bold;
	cursor: text;
}
#MainTable .head .deletemodule,#MainTable .head .eidtmodule,#MainTable .head .post{
	width:25px;
	FLOAT: right;
	cursor: hand;
}
/*********************************************************************
******可移动表格里的主体内容
*********************************************************************/
/*可移动表格里的主体内容*/
#MainTable .middle{
	padding:3px 1em 3px 1em;
	height:80px;
}
#MainTable .middle li{
	margin:3px 1em 3px 1em;
	overflow: hidden;
	list-style-type:circle;
}

/*********************************************************************
******可移动表格里的图片列表的样式表
*********************************************************************/
/**
*图片列表的样式表
**/
#MainTable .page{
	text-align:center;
	margin:1em 0 1em 0;
}
#MainTable .page a{
	display:block;
	width:18px;
	float:left;
	padding-top:2px;
	border:1px solid #ccc;
	margin-left:6px;
}
#MainTable ul.imglist{
	display:block;
	float:left;
	width:140px;
	overflow: hidden;
}
#MainTable ul.imglist li{
	list-style:none;
}
#MainTable ul.imglist li.word span{
	display:block;
	width:130px;
	height:14px;
	overflow: hidden;
}
#MainTable ul.imglist li.word span.title a{
	font-weight:bold;
}
#MainTable ul.imglist li.img img{
	border:0xp;
	width:120px;
	height:90px;
	border:2px solid #FFF;
}
#MainTable ul.imglist li.img a{
	display:block;
	border:1px solid #999;
}
/******************************************************************************************
******************************************************************************************
******日志列表页
******************************************************************************************
******************************************************************************************/
#MainTable ul.listnews{
	display:block;
	width:100%;
	height:23px;
	padding:5px;
	border-bottom:1px dashed #DBEAFF;
}
#MainTable ul.listnews li{
	display:block;
	margin:0px;
	float:right;
	background: ;
}
#MainTable ul.listnews li.title{
	float:left;
	text-indent: 1em;
	background:  url(title_icon2.gif) no-repeat;
	background-position: 0em 40%;
}
#MainTable ul.listnews li.del a,#MainTable ul.listnews li.edit a{
	display:block;
	width:25px;
	margin-left:0.5em;
}
/******************************************************************************************
******************************************************************************************
******图片列表页
******************************************************************************************
******************************************************************************************/
#MainTable ul.listphoto{
	display:block;
	width:100%;
	padding:5px;
	border-bottom:1px dashed #ccc;
}
#MainTable ul.listphoto li{
	display:block;
	float:left;
}
#MainTable ul.listphoto li.img a{
	display:block;
	border:1px solid #999;
}
#MainTable ul.listphoto li.img img{
	border:2px solid #FFF;
}
#MainTable ul.listphoto li.word{
	margin-left:1em;
	padding-left:0.5em;
	border-left:1px dotted #ccc;
	
} 
#MainTable ul.listphoto li.word span{
	display:block;
	margin-top:4px;
}
#MainTable ul.listphoto li.word span.title a{
	font-weight:bold;
}
#MainTable .operate a{
	display:block;
	float:left;
	margin-right:5px;
}
/******************************************************************************************
******************************************************************************************
******内容最终页
******************************************************************************************
******************************************************************************************/
#MainTable div.title{
	border-bottom:1px dotted #ccc;
	margin:1em;
	height:21px;
	font-weight:bold;
	text-indent: 2em;
	background:url(ico_widget.gif) no-repeat;
	background-position: 0em 0%;
}
#MainTable div.photo{
	margin:1em 2em 1em 2em;
	overflow: hidden;
}
#MainTable div.viewnews{
	margin:1em 2em 1em 2em;
	width:550px;
	overflow: hidden;
	font-size:14px;
	line-height:25px;
}
#MainTable div.viewnews p{
	font-size:14px;
	line-height:25px;
}
#MainTable div.word{
	border-top:1px solid #ccc;
	border-bottom:1px dotted #ccc;
	padding-top:1em;
	margin:1em;
}
#MainTable div.word li{
	margin-top:5px;
}
#MainTable div.word li.title a{
	font-weight:bold;
}
#MainTable div.word .del,#MainTable div.word .post{
	margin-left:1em;
}
/******************************************************************************************
******************************************************************************************
******商品最终页
******************************************************************************************
******************************************************************************************/

#MainTable .middle .content .img{
	width:160px;
	border-right:dotted 1px #ccc;
}
#MainTable .middle .content .word span{
	display:block;
	margin:5px 0 3px 8px;
}
#MainTable .middle .content .word span dd{
	display:block;
	float:left;
	padding-right:7px;
}
#MainTable .middle .about{
	display:block;
	margin-top:1em;
	padding-top:1em;
	border-top:solid 1px #ccc;
}
#MainTable .middle .about .intro{
	font-size:14px;
	font-weight:bold;
	color:#990000;
}
/******************************************************************************************
******************************************************************************************
******网页底部
******************************************************************************************
******************************************************************************************/
#footer{
	margin:1em 0 1em 0;
}

/*********************************************************************
******形象
*********************************************************************/
#MainTable #intro .middle span{
	display:block;
	width:100%;
	margin-top:8px;
}
#MainTable #intro .middle span.img{
	text-align:center;
}

/******************************************************************************************
******************************************************************************************
**********评论
******************************************************************************************
******************************************************************************************/

#comment .content{
	border:dotted 1px #ddd;
	margin-bottom:10px;
}
#comment .content .word{
	border-bottom:solid 1px #ddd;
	padding-left:5px;
	height:50px;
}
#comment .content .img{
	border-right:dotted 1px #ddd;
	padding:1em;
}
#comment .content .info{
	padding:2px 0 0 5px;
}

/******************************************************************************************
******************************************************************************************
******留言本
******************************************************************************************
******************************************************************************************/
.guestbook{
	margin-bottom:4px;
	border:1px dotted #A7CAFA;
}
.guestbook .Ftd{
	padding:4px;
	border-right:1px dotted #A7CAFA;
}
.guestbook .Atd{
	border-top:1px solid #D2E4FC;
	padding-left:4px;
}
.guestbook .Ctd{
	padding:4px;
}


/*********
*文章列表
**********************/

.list_word .list_title{
	background:#F4F7FC url(title_icon3.gif) no-repeat 0px 6px;
	height:20px;
	padding-top:3px;
	padding-left:5px;
	border-top:1px dotted #AFC0D2;
	margin-bottom:5px;
}
.list_word .list_title a{
	color:555;
	font-weight:bold;
}
.list_word .list_content{
	text-indent:2em;
	line-height:18px;
	color:666;
	margin-bottom:2px;
}
.list_word .list_about{
	background:#F4F8FB;
	margin-bottom:8px;
	color:666;
	text-align:right;
	border-bottom:1px solid #EFEFEF;
}